body { padding-top: 50px; }

#image-overlay {
	background-image: url('/images/background.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
}

.container {
	background-color: rgba(255,255,255,0.75);
}

.no-background {
	background-color: transparent;
}

body > .container:first-of-type {
	padding-top: 20px;
}

body > .container:last-of-type {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding-bottom: 20px;
}

.firstelementpadding {
	padding-top: 20px;
}

.carousel-fullscreen {
	color: #fff;
	cursor: pointer;
}

.carousel-fullscreen .glyphicon-fullscreen {
	width: 20px;
	height: 20px;
	margin-top: -10px;
	font-size: 20px;
	position: absolute;
	z-index: 6;
	display: inline-block;
	top: 25px;
	right: 15px;
}

.carousel-fullscreen .glyphicon-fullscreen:hover {
	color: #eee;
}

.carousel-inner {
	height: 500px;
	overflow: hidden;
}

.carousel-inner item {
	height: 500px;
}

.popover {
	margin-left: 8px;
}