body html .map {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
}

#map {
height: 100vh;
}

body { padding-top: 0px; }

#info {
  position: absolute;
  font-size: 0.7em;
  top: 10px;
  right: 10px;
  background-color: lightgrey;
  padding: 4px;
}

.button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin-right: 10px;
}

.heatmap-btn-group {
	margin-bottom: 5px;
	margin-top: 5px;
}

.layer-btn-group {
	margin-bottom: 5px;
}

.ol-full-screen {
	top: 65px;
}

.ol-zoomslider {
	top: 120px;
}

.button  .well{
	background-color: rgba(245,245,245,0.75);
}

#gradient {
	margin-bottom: 0px;
}

#geolocation_marker{
	width:50px;
	height:50px;
	margin-top: -25px;
}